<h1>Welcome to Rewsly! It will get interesting, I swear</h1>
<!-- Ruby code which prints each story within the @stories array onto a single line -->
 <% @stories.each do |story| %>
    <li><%= story %></li>
  <% end %>